<?xml version="1.0"?>
<launch>
  <!--
    Navigation stack cho x_omni4wd với map t21 (bao gồm bringup).
    Một lệnh: roslaunch x_omni4wd_navigation x_omni4wd_navigation.launch
    Tắt bringup nếu đã chạy riêng: use_bringup:=false
  -->
  <arg name="map_file" default="$(find x_omni4wd_navigation)/maps/f21_wall_qa2.yaml"/>
  <arg name="algorithm_navigation" default="teb"/>  <!-- teb | dwa -->
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="odom_frame" default="odom"/>
  <arg name="base_frame" default="base_footprint"/>
  <arg name="laser_frame" default="lidar_link"/>
  <arg name="open_rviz" default="true"/>
  <arg name="use_amcl" default="true"/>
  <arg name="use_bringup" default="true"/>
  <arg name="use_lidar" default="true"/>
  <arg name="use_zed" default="true"/>
  <arg name="zed_camera_name" default="zed2i"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="use_laser_filter" default="true"/>
  <arg name="use_goal_sender" default="true"/>
  <arg name="use_move_base_monitor" default="false"/>
  <arg name="goal_sender_waypoints_file" default="$(find goal_sender)/config/waypoints_f21_wall_full_real.yaml"/>
  <arg name="goal_sender_extra_delay" default="2.0"/>
  <!-- AMCL: pose khởi tạo theo mẫu amcl_pose hiện tại -->
  <arg name="initial_pose_x" default="-2.2909"/>
  <arg name="initial_pose_y" default="-28.4764"/>
  <arg name="initial_pose_a" default="0.05348135"/>
  <!-- <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/> -->

  <!-- Bringup: robot, lidar, RF2O odometry -->
  <include if="$(arg use_bringup)" file="$(find x_omni4wd_bringup)/launch/x_omni4wd_bringup.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="use_lidar" value="$(arg use_lidar)"/>
    <arg name="use_zed" value="$(arg use_zed)"/>
    <arg name="zed_camera_name" value="$(arg zed_camera_name)"/>
    <arg name="open_rviz" value="false"/>
    <arg name="use_rqt_omni_robot_steering" value="false"/>
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <arg name="scan_topic" value="$(arg scan_topic)"/>
    <arg name="odom_frame" value="$(arg odom_frame)"/>
    <arg name="base_frame" value="$(arg base_frame)"/>
    <arg name="laser_frame" value="$(arg laser_frame)"/>
  </include>

  <include if="$(arg use_laser_filter)" file="$(find x_omni4wd_navigation)/launch/laser_filter.launch"/>

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <!-- AMCL -->
  <group if="$(arg use_amcl)">
    <node pkg="amcl" type="amcl" name="amcl" respawn="true" output="screen">
      <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/amcl_params.yaml" command="load"/>
      <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <param name="initial_pose_a" value="$(arg initial_pose_a)"/>
      <param name="odom_frame_id" value="$(arg odom_frame)"/>
      <param name="base_frame_id" value="$(arg base_frame)"/>
      <param name="global_frame_id" value="map"/>
      <remap from="scan" to="$(arg scan_topic)"/>
    </node>
  </group>
  <group unless="$(arg use_amcl)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_static"
          args="0 0 0 0 0 0 map $(arg odom_frame)"/>
  </group>

  <!-- Move Base -->
  <node pkg="move_base" type="move_base" respawn="true" name="move_base" output="screen">
    <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/costmap_common_params_x_omni4wd.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/costmap_common_params_x_omni4wd.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/costmap_global_params_x_omni4wd.yaml" command="load"/>
    <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/costmap_local_params_x_omni4wd.yaml" command="load"/>
    <rosparam file="$(find x_omni4wd_navigation)/config/ICR2026/move_base_params.yaml" command="load"/>
    <rosparam if="$(eval algorithm_navigation == 'teb')"
              file="$(find x_omni4wd_navigation)/config/ICR2026/teb_local_planner_params_omni.yaml" command="load"/>
    <rosparam if="$(eval algorithm_navigation == 'dwa')"
              file="$(find x_omni4wd_navigation)/config/ICR2026/dwa_local_planner_params.yaml" command="load"/>

    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param if="$(eval algorithm_navigation == 'teb')"
           name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
    <param if="$(eval algorithm_navigation == 'dwa')"
           name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <param name="clearing_rotation_allowed" value="false"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame)"/>
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>

  <!-- Goal sender: phát chuỗi waypoint tự động cho move_base -->
  <group if="$(arg use_goal_sender)">
    <node if="$(arg use_zed)" pkg="goal_sender" type="goal_sender_node_scenario.py" name="goal_sender_node_scenario" output="screen"
          launch-prefix="bash -c 'until rostopic echo -n1 /move_base/status &gt;/dev/null 2&gt;&amp;1; do sleep 1; done; until rostopic echo -n1 /amcl_pose &gt;/dev/null 2&gt;&amp;1; do sleep 1; done; until rostopic echo -n1 /$(arg zed_camera_name)/zed_node/rgb/image_rect_color &gt;/dev/null 2&gt;&amp;1; do sleep 1; done; sleep $(arg goal_sender_extra_delay); exec &quot;$0&quot; &quot;$@&quot;'">
      <param name="waypoints_file" value="$(arg goal_sender_waypoints_file)"/>
      <param name="num_cycles" value="1"/>
    </node>
    <node unless="$(arg use_zed)" pkg="goal_sender" type="goal_sender_node_scenario.py" name="goal_sender_node_scenario" output="screen"
          launch-prefix="bash -c 'until rostopic echo -n1 /move_base/status &gt;/dev/null 2&gt;&amp;1; do sleep 1; done; until rostopic echo -n1 /amcl_pose &gt;/dev/null 2&gt;&amp;1; do sleep 1; done; sleep $(arg goal_sender_extra_delay); exec &quot;$0&quot; &quot;$@&quot;'">
      <param name="waypoints_file" value="$(arg goal_sender_waypoints_file)"/>
      <param name="num_cycles" value="1"/>
    </node>
  </group>

  <!-- Move base monitor -->
  <group if="$(arg use_move_base_monitor)">
    <node name="move_base_status_timeline" pkg="social_navigation_monitor" type="move_base_status_timeline.py" output="screen"/>
    <node name="path_planning_monitor" pkg="social_navigation_monitor" type="path_planning_monitor.py" output="screen">
      <remap from="/move_base/NavfnROS/plan" to="/move_base/GlobalPlanner/plan"/>
    </node>
  </group>

  <!-- RViz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz_navigation"
          args="-d $(find x_omni4wd_navigation)/rviz/x_omni4wd_navigation.rviz"
          output="screen" required="false"/>
  </group>
</launch>
