<?xml version="1.0"?>

<launch>
<master auto="start"/>
<param name="use_sim_time" value="true"/>

  <!-- Arguments -->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="map_file" default="$(find diff_mapping)/maps/vp_2.yaml"/> <!-- minh_kb1.yaml -->

  <!-- Really Usefull Robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find diff_decription)/urdf/diff_bot_velodyne.urdf.xacro'" />

  <!-- AMCL -->
  <include file="$(find diff_localization)/launch/localization_velodyne.launch"/>
  
  <!-- Log position of robot to draw a trajectory -->
 <!-- <node name="model_state_logger" pkg="my_robot_logger" type="robot_state_logger.py" output="screen"/> -->

  <!-- Move_base -->
  <include file="$(find diff_nav)/launch/move_base_TEB.launch"/>
    <!-- Launch the simple path publisher for 4 doctors -->
  <node name="simple_path_publisher" pkg="gazebo_ros_actor_plugin" type="multi_actor_path_publisher.py" output="screen">
  </node> 
  <!-- Launch hien marker nguoi-->
  <node name="sfm_local_plan_republisher" pkg="diff_nav" type="sfm_local_plan_republisher.py" output="screen">
  </node>
    <!-- costmap group_actor-human 
  <node name="social_cue_sim_original" pkg="social_cue_sim" type="social_cue_sim_original.py" output="screen">
  </node> -->


 <!--  **************** Visualisation ****************  -->
 <group if="$(arg open_rviz)"> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_rviz)/rviz/final.rviz"/>
 </group>
 <!-- ✅ Relay scan -> scan_filtered để đảm bảo SFM nhận được  chạy teb thì tắt
  <node name="relay_scan_filtered" pkg="topic_tools" type="relay" args="/scan /scan_filtered" />-->
</launch>
