<?xml version="1.0"?>
<launch> 
 <arg name="custom_amcl_launch_file" default="$(find diff_localization)/launch/amcl.launch"/>

 <!-- Map Server Arguments minh_map-->
 <arg name="map_file" default="$(find diff_mapping)/maps/minh_kb6.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="map"/>
 </node>

 <!-- Convert pointcloud 3D to scan 2D to mapping  --> 
 <include file="$(find pointcloud_to_scan)/launch/pointcloud2scan.launch"/>

 <!-- Gazebo Velodyne -->
 <include file="$(find diff_gazebo)/launch/diff_model_velodyne_kb6.launch"/>

 <!-- AMCL -->
 <include file="$(arg custom_amcl_launch_file)"/>

 <!-- RViz (tuỳ chọn) -->
 <!-- <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find diff_rviz)/rviz/amcl.rviz"/> -->
</launch>

