#!/usr/bin/env python

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t, bool_t

gen = ParameterGenerator()

gen.add("enabled", bool_t, 0, "Whether to apply this layer or not", True)
gen.add("cutoff", double_t, 0, "Cutoff value for Gaussian function", 10.0, 0.0, 255.0)
gen.add("amplitude", double_t, 0, "Amplitude of Gaussian function", 100.0, 0.0, 255.0)
gen.add("covariance", double_t, 0, "Covariance of Gaussian function", 0.25, 0.0, 50.0)
gen.add("emotion_density_weight", double_t, 0, "Density attenuation weight for social cost", 0.0, 0.0, 25.0)
gen.add("keep_time", double_t, 0, "How long to keep social data in seconds", 0.75, 0.0, 10.0)
# gen.add("factor", double_t, 0, "Factor to multiply to velocity", 5.0, 0.0, 10.0)
# gen.add("keep_time", double_t, 0, "How long to keep people in seconds", 0.75, 0.0, 10.0)
# gen.add("happy_factor", double_t, 0, "Factor for happy emotion", 0.5, 0.0, 1.0)
# gen.add("angry_factor", double_t, 0, "Factor for angry emotion", 1.5, 0.0, 3.0)
# gen.add("neutral_factor", double_t, 0, "Factor for neutral emotion", 1.0, 0.0, 2.0)

exit(gen.generate("social_navigation_layers", "social_navigation_layers", "EmotionLayer"))
